body{
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    
}

.container{
    width: 50%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.buttons{
    width: 100%;
    display: flex;
    justify-content: end;
    gap: 20px;
}

p{
    font-size: 1.1rem;
}

button{

    border: none;
    border-radius: 5px;
    font-size: 1.3rem ;
    padding: 10px;
    background-color: #2C3E50;
    color: #FFFFFF;
    font-weight: 500;
}

button:hover{
    background-color: #F39C12;
    color: #FFFFFF;
}

button a{
    text-decoration: none;
    color: #FFFFFF;
}
